<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/styles/commands.css">
    <title>Comandos | Resolute</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div class="option" id="list-universe">
        <div class="options">
            <ul>
                <li><a href="https://www.resolutebot.xyz/">Inicial</a></li>
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/discord">Suporte</a></li>
            </ul>
        </div>
    </div>
    <header>
        <div class="navbar">
            <div class="logomark">
                <div class="avatar"></div>
                <div class="username">Resolute</div>
            </div>
            <div class="options">
                <ul>
                    <li><a href="/">Inicial</a></li>
                    <li><a href="/commands">Comandos</a></li>
                    <li><a href="/discord">Suporte</a></li>
                </ul>
                <a href="/add"><button>Adicionar</button></a>
            </div>
        </div>
        <div class="navbar-compact">
            <div class="compose">
                <div class="logomark">
                    <div class="avatar"></div>
                    <div class="username">Resolute</div>
                </div>
                <div class="btn-options"><i class="fa fa-align-justify" id="btn-options"></i>
                </div>
            </div>
        </div>
    </header>

    <div class="commands">
        <div class="commandsList">
            <% for (let i = 0; i < commands.length; i++) { %>
                <div class="commandsBox">
                    <div class="category" onclick="viewBox('<%= commands[i].type %>')"><i class="<%= commands[i].icon %>"></i> <%= commands[i].category %></div>
                    <div class="line"></div>
                    <div class="list" id="list-<%= commands[i].type %>">
                        <% for (let c = 0; c < commands[i].commands.length; c++) { %>
                            <div class="command">
                                <code><%= commands[i].commands[c].name %></code>
                                <div class="description"><%= commands[i].commands[c].description %></div>
                            </div> 
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <footer>
        <div class="content">
            &copy; Copyright 2021 | Todos os Direitos Reservados
        </div>
        <div class="by"><i class="fa fa-wrench"></i> iNsaNy Developers</div>
    </footer>

    <script src="/scripts/navbar.js"></script>
    <script>
        function viewBox(item) {
            const box = document.getElementById("list-" + item);

            if (box.className == "list") {
                box.classList.toggle("active");
                box.style.height = box.scrollHeight + "px";
            } else {
                box.classList.toggle("active");
                box.style.height = 0 + "px";
            }
        }
    </script>
</body>

</html>