<%- include("partials/header", { bot, user, path, title: `Configurações | ${guild.name}` }) %>

<div class="container-sm center" style="margin-top: 30px;">
  <div class="d-grid gap-2 col-4 mx-auto">
    <% if (alert) { %>
      <div class="alert alert-success" role="alert">
        <%= alert %>
      </div>
    <% } %>
    <h1><%= guild.name %></h1>
    <hr>
    <form method="POST">
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Prefixo:</p>
      <!-- <p style="font-style: italic;" class="disabled">desc</p> -->
      <input type="text" class="form-control" name="prefix" value="<%= settings.prefix %>" placeholder="Seu prefixo aqui.">
      <br><button type="submit" class="btn btn-secondary text-white">Salvar alterações</button>
    </form>
    <form method="POST">
      <p class="h5" style="margin-bottom: 0.5rem; margin-top: 10px;">Autorole:</p>
      <p style="font-style: italic;" class="disabled">Defini o cargo automático para o seu servidor</p>
      <select class="form-select" aria-label="Default select example" name="autorole">
        <option selected><%= settings.autorole %></option>
        <% for (const [roleID, roleData] of guild.roles.cache.sort((a,b) => a.position > b.position ? -1 : 1)){ %>
          <option><%= roleData.name %></option>
       <% } %>
      </select>
      <br><button type="submit" class="btn btn-secondary text-white">Salvar alterações</button>
    </form>
  </div>
</div>

<%- include("partials/footer") %>